<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <!--<img src="<%#= @post.image.url %>"></img>-->
  <%= image_tag @post.image.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <% if @post.like_users.include?(current_user) %>
    <%= link_to 'Unlike', like_post_path, method: :post %>
  <% else %>
    <%= link_to 'Like', like_post_path, method: :post %>
  <% end %>
</p>

<p>
  <strong>Like:</strong>
  <%= @post.like_users.count %>
</p>

<% if can? :manage, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>